---
import DefaultSocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import { getRelativeLocaleUrl } from 'astro:i18n';
const t = Astro.locals.t;
---
<div class="social-icons-extended">
  <div class="custom-links">
    <div class="has-submenu">
      <a href="/guide/" class="custom-link">{t('navbar.documentation')}</a>
      <ul role="menu">
        <li class="custom-link gh" role="none"><a href={getRelativeLocaleUrl(Astro.currentLocale, 'guide/user')} role="menuitem">{t('navbar.documentation.for-users')}</a></li>
        <li  class="custom-link gh" role="none"><a href={getRelativeLocaleUrl(Astro.currentLocale, 'guide/service')} role="menuitem">{t('navbar.documentation.for-service')}</a></li>
      </ul>
    </div>
    <a href="/faq/" class="custom-link">{t('navbar.faq')}</a>
  </div>
  <DefaultSocialIcons />
</div>

<style>

  .has-submenu > ul {
    display: none;
  }

  .has-submenu:focus-within > ul,
  .has-submenu:hover > ul,
  .has-submenu:has(> button[aria-expanded="true"]) > ul {
    display: block;
  }

  .has-submenu {
    position: relative;
  }

  .has-submenu > ul {
    position: absolute;
    top: 100%;
    background: var(--sl-color-bg-nav);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    z-index: 100000;
    list-style-type: none;
    padding: 0em 1em 0em 0.5em;
  }

    .has-submenu > ul > li > a {
      color: var(--sl-color-text-accent);
      text-decoration: none;
    }

  .social-icons-extended {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .custom-links {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .custom-link {
    color: var(--sl-color-text-accent);
    text-decoration: none;
    font-size: var(--sl-text-sm);
    font-weight: 500;
    transition: color 0.2s ease;
    white-space: nowrap;
  }

  .custom-link:hover {
    opacity: 0.66;
  }

  .custom-links::after {
    content: "";
    height: 2rem;
    border-inline-end: 1px solid var(--sl-color-gray-5);
  }

  @media (width < 800px) {
    .social-icons-hidden .custom-links::after {
      content: none;
      border: 0;
    }
  }
</style>